/* vim: set et sw=2 sts=2: */

body {
  background-color: #1a1a1a;
  font-family: "Sawasdee", "Century Gothic", "Tahoma", "Arial", sans-serif;
  font-size: 10pt;
  color: white;
  margin: 4em;
}

/* Structure
 * -----------------------------------------------------------------------------
 */

#header div {
  border-bottom: 2px solid white;
  height: 140px;
  position: relative;
}

#topnav div {
  border-bottom: 2px solid white;
  height: 3em;
  position: relative;
}

#bottomnav div {
  border-top: 2px solid white;
  height: 3em;
  position: relative;
}

#footer div {
  border-top: 2px solid white;
  height: 100px;
  position: relative;
}

.left {
  width: 320px;
  float: left;
  border-right: 2px solid white;
}

.right {
  border-left: 2px solid white;
  margin-left: 320px;
}

#topnav ul,
#bottomnav ul,
#menu ul {
  list-style: none;
  text-align: center;
  padding: 0.7em;
}

#topnav ul li,
#bottomnav ul li {
  display: inline;
  padding: 0.7em;
}

#menu ul li {
  padding: 2em 0 2em 0;
}

#content .right {
  padding: 1em;
  min-height: 24em;
}

#footer .right {
  padding: 1em;
}

#spacer {
  clear: both;
  height: 4em;
}

/* Styles
 * -------------------------------------------
 */

#header .right h1 {
  font-size: 18pt;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer {
  color: #999;
  font-size: 8pt;
}

#topnav a,
#bottomnav a,
#menu a {
  color: white;
  text-decoration: none;
}

#topnav a:hover,
#bottomnav a:hover,
#menu a:hover {
  background-color: #999;
}
