<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Artist Bio</title>
</head>

<body>
  <div class="grid_12 noborder" id="content">
    <div class="right" style="background: white url(${tg.url('/images/holly.jpg')}) no-repeat; color: black; padding: 2em 2em 1em 380px; height: 400px">
      <p>I'm a PhD student in the UK studing palaeobiochemistry. After getting
      into comics relatively recently I decided to try drawing some of my own.
      The Major Mass Spec series was the first one I did and is based on the
      experiences of, and people in my research group. The Ratbot Comics logo was
      inspired by my pet rats, Jay and Silent Bob.</p>
    </div>
  </div>
</body>
</html>
