<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>
    <py:choose test="method">
    <py:when test="'new_comic'">New Comic</py:when>
    <py:otherwise>Alter Comic <q>${value['title']}</q></py:otherwise>
    </py:choose>
  </title>
  <script type="text/javascript">
    $(document).ready(function() {
      $("input#new_comic_form_id").focus();
    });
  </script>
</head>

<body>
  <div class="grid_12" id="content">
    <h3>
      <py:choose test="method">
      <py:when test="'new_comic'">New Comic</py:when>
      <py:otherwise>Alter Comic <q>${value['title']}</q></py:otherwise>
      </py:choose>
    </h3>
    <div py:replace="tmpl_context.form(value)">Input Form</div>
  </div>
</body>
</html>
