<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Comics</title>
</head>

<body>
  <div class="grid_12 line2"></div>
  <div class="prefix_2 grid_8 suffix_2" id="menu3">
    <div class="grid_2 alpha">
      <py:choose test="page.first">
      <py:when test="None">
      First
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.first.issue_number, page.first.number))}">First</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2">
      <py:choose test="page.previous">
      <py:when test="None">
      &lt; Previous
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.previous.issue_number, page.previous.number))}">&lt; Previous</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2">
      <py:choose test="page.next">
      <py:when test="None">
      Next &gt;
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.next.issue_number, page.next.number))}">Next &gt;</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2 omega">
      <py:choose test="page.last">
      <py:when test="None">
      Last
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.last.issue_number, page.last.number))}">Last</a>
      </py:otherwise>
      </py:choose>
    </div>
  </div>
  <div class="grid_12" id="content">
    <h3 class="comic">Issue #${page.issue_number} - ${page.issue.title}, Page ${page.number} of ${len(page.issue.pages)}</h3>
    <img class="comic" src="${tg.url('/comics/png/%s/%d/%d' % (page.comic_id, page.issue_number, page.number))}" />
  </div>
  <div class="prefix_2 grid_8 suffix_2" id="menu3">
    <div class="grid_2 alpha">
      <py:choose test="page.first">
      <py:when test="None">
      First
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.first.issue_number, page.first.number))}">First</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2">
      <py:choose test="page.previous">
      <py:when test="None">
      &lt; Previous
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.previous.issue_number, page.previous.number))}">&lt; Previous</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2">
      <py:choose test="page.next">
      <py:when test="None">
      Next &gt;
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.next.issue_number, page.next.number))}">Next &gt;</a>
      </py:otherwise>
      </py:choose>
    </div>
    <div class="grid_2 omega">
      <py:choose test="page.last">
      <py:when test="None">
      Last
      </py:when>
      <py:otherwise>
      <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.last.issue_number, page.last.number))}">Last</a>
      </py:otherwise>
      </py:choose>
    </div>
  </div>
</body>
</html>
