<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Comics</title>
</head>

<body>
  <div class="grid_12 line2"></div>
  <div class="grid_12" id="menu2">
    <py:for each="i, c in enumerate(comics)">
    <div class="grid_4 ${('alpha', '', 'omega')[i]}">
      <py:if test="c.issues and c.issues[-1].pages">
      <a href="${tg.url('/comics/view/%s/%d/%d' % (c.id, c.issues[-1].number, c.issues[-1].pages[-1].number))}">${c.title}</a>
      </py:if>
      <py:if test="not c.issues or not c.issues[-1].pages">
      ${c.title}
      </py:if>
    </div>
    </py:for>
  </div>
  <div class="grid_12" id="content">
    <div class="issues" py:for="comic in comics">
      <div class="grid_6 alpha">
        <h3>${comic.title}</h3>
        <p>${comic.description}</p>
        <img src="${tg.url('/comics/thumb/%s/1/1' % comic.id)}" alt="Preview" />
      </div>
      <div class="grid_6 omega">
        <h3>Issues</h3>
        <ul>
          <li py:for="issue in comic.issues"><a href="${tg.url('/comics/view/%s/%d/1' % (issue.comic_id, issue.number))}">#${issue.number} - ${issue.title}</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
