<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Comics</title>
</head>

<body>
  <div class="grid_12" id="content">
    <div class="issues" py:for="comic in comics">
      <div class="grid_6 alpha">
        <h3>${comic.title}</h3>
        <p>${comic.description}</p>
        <py:if test="comic.first_issue">
        <img src="${tg.url('/comics/thumb/%s/%d/%d' % (comic.id, comic.first_issue.number, comic.first_issue.first_page.number))}" alt="Preview" />
        </py:if>
      </div>
      <div class="grid_6 omega">
        <h3>Issues</h3>
        <ul>
          <li py:for="issue in comic.published_issues"><a href="${tg.url('/comics/view/%s/%d/%d' % (issue.comic_id, issue.number, issue.first_page.number))}">#${issue.number} - ${issue.title}</a>
            (<a href="${tg.url('/comics/pdf/%s/%d' % (issue.comic_id, issue.number))}">PDF</a>)
            (<a href="${tg.url('/comics/archive/%s/%d' % (issue.comic_id, issue.number))}">Zip</a>)
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
