<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Comics</title>
</head>

<body>
  <div class="grid_12 line2"></div>
  <div class="grid_12" id="menu2">
    <div class="grid_4 alpha"><a href="#" class="${('', 'active')[defined('comic') and comic.comic_id=='mms']}">Major Mass Spec</a></div>
    <div class="grid_4"><a href="#" class="${('', 'active')[defined('comic') and comic.comic_id=='name']}">Insert Name Here</a></div>
    <div class="grid_4 omega"><a href="#" class="${('', 'active')[defined('comic') and comic.comic_id=='misc']}">Misc.</a></div>
  </div>
  <div class="grid_12 line3"></div>
  <div class="prefix_2 grid_8 suffix_2" id="menu3">
    <div class="grid_2 alpha"><a href="#">First</a></div>
    <div class="grid_2"><a href="#">&lt; Prior</a></div>
    <div class="grid_2"><a href="#">Next &gt;</a></div>
    <div class="grid_2 omega"><a href="#">Last</a></div>
  </div>
  <div class="grid_12" id="content">
    <img src="${tg.url('/comicpng/%s/%d/%d' % (comic.comic_id, comic.issue_number, comic.number))}" />
  </div>
  <div class="prefix_2 grid_8 suffix_2" id="menu3">
    <div class="grid_2 alpha"><a href="#">First</a></div>
    <div class="grid_2"><a href="#">&lt; Prior</a></div>
    <div class="grid_2"><a href="#">Next &gt;</a></div>
    <div class="grid_2 omega"><a href="#">Last</a></div>
  </div>
</body>
</html>
