<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Login Form</title>
</head>

<body>
  <div class="grid_12" id="content">
    <h3>Confirmation Required</h3>
    <form id="confirmform" action="${action}" method="post">
      <input py:for="(key, value) in params.iteritems()" type="hidden" name="${key}" value="${value}" />
      <p>${prompt}</p>
      <input type="submit" name="confirm" value="Yes" />
      <input type="button" onclick="window.location='${tg.url('/admin')}'" value="No" />
    </form>
  </div>
</body>
</html>
