<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Welcome to Ratbot Comics</title>
</head>

<body>
  <div class="grid_12 comic" id="content">
    <h3>Latest pages</h3>
    <div class="grid_4 ${('alpha', '', 'omega')[i]}" py:for="i, page in enumerate(pages)">
      <div py:if="page" class="thumb">
        <a href="${tg.url('/comics/view/%s/%d/%d' % (page.comic_id, page.issue_number, page.number))}">
          <img src="${tg.url('/comics/thumb/%s/%d/%d' % (page.comic_id, page.issue_number, page.number))}" /><br />
          ${page.issue.comic.title}, Issue ${page.issue.number}, Page ${page.number}<br />
          (published ${page.published.strftime('%A %d-%b-%y')})
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <h3>News</h3>
    <div class="news" py:for="article in news">
      <h4>${article.title}</h4>
      <h5>Posted ${article.created.strftime('%A, %d-%b-%y %H:%M:%S')}<py:if test="article.author"> by ${article.auth_user.display_name}</py:if></h5>
      ${XML('&lt;div class="article"&gt;%s&lt;/div&gt;' % article.content)}
    </div>
  </div>
</body>
</html>
