<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Links</title>
</head>

<body>
  <div class="grid_12 links" id="content">
    <h3>Links</h3>
    <p>This page lists the software used in the creation of this site, as a
    little <q>thank you</q> to the various open-source projects that helped
    make it possible. Firstly the software used by Holly for drawing:</p>
    <ul>
        <li><a href="http://www.inkscape.org/">Inkscape</a> - a vector painting package</li>
      <li><a href="http://www.gimp.org/">GIMP</a> - a bitmap paint package, for touching up photos</li>
    </ul>
    <p>Here's the software Dave used to construct and host the website:</p>
    <ul>
      <li><a href="http://httpd.apache.org">Apache HTTPD</a> web server</li>
      <li><a href="http://www.postgresql.org">PostgreSQL</a> database server</li>
      <li><a href="http://turbogears.org">TurboGears</a> web framework, consisting of:
        <ul>
          <li><a href="http://www.sqlalchemy.org">SQLAlchemy</a> ORM</li>
          <li><a href="http://pythonpaste.org">Paster</a> middleware</li>
          <li><a href="http://genshi.edgewall.org">Genshi</a> template library</li>
          <li><a href="http://toscawidgets.org">ToscaWidgets</a> forms library</li>
        </ul>
      </li>
      <li>Which is all built in the awesome <a href="http://www.python.org">Python</a> scripting language</li>
    </ul>
    <p>Everything runs on <a href="http://www.ubuntu.com/">Ubuntu Linux</a> and
    the server is an <a href="http://aws.amazon.com/">Amazon EC2</a>
    instance.</p>
  </div>
</body>
</html>
