<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
          py:attrs="dict(content='%s; charset=%s' % (response.content_type, response.charset))" />
    <title py:if="False">Your title goes here</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/reset.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/960.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/default.css')}" />
    <link rel="shortcut icon" type="image/png" href="${tg.url('/images/favicon.png')}" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <meta py:replace="select('*')"/>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-25877710-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>
</head>

<body py:match="body" py:attrs="select('@*')">
  <div class="container_12">
    <div class="grid_12" id="header">
      <h1 class="grid_7 alpha">Welcome to Ratbot Comics</h1>
      <a href="${tg.url('/')}"><img class="grid_5 omega" src="${tg.url('/images/logo.png')}" /></a>
    </div>
    <div class="grid_12 line1"></div>
    <div class="grid_12" id="menu1">
      <div class="grid_3 alpha"><a href="${tg.url('/')}" class="${('', 'active')[defined('method') and method=='index']}">Home</a></div>
      <div class="grid_3"><a href="${tg.url('/comics')}" class="${('', 'active')[defined('method') and method in ('comic', 'comics')]}">Comics</a></div>
      <div class="grid_3"><a href="${tg.url('/bio')}" class="${('', 'active')[defined('method') and method=='bio']}">Bio</a></div>
      <div class="grid_3 omega"><a href="${tg.url('/links')}" class="${('', 'active')[defined('method') and method=='links']}">Links</a></div>
    </div>
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
    <div py:if="flash" py:content="XML(flash)" class="grid_12" />
    </py:with>
    <div py:replace="select('*|text()')"/>
    <div class="grid_12 line4"></div>
    <div class="grid_8" id="footer">
      <p>Copyright &copy; 2011 Holly Barden. All rights reserved.</p>
    </div>
    <py:if test="tg.auth_stack_enabled">
    <div class="grid_4" id="auth">
      <a py:if="not request.identity" id="login" href="${tg.url('/login')}">Login</a>
      <a py:if="request.identity" id="login" href="${tg.url('/logout_handler')}">Logout</a>
      <a py:if="request.identity" id="admin" href="${tg.url('/admin')}">Admin</a>
    </div>
    </py:if>
  </div>
</body>
</html>
