<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>
    <py:choose test="method">
    <py:when test="'new_page'">New Page</py:when>
    <py:otherwise>Alter Page &quot;${value['comic_id']}-${value['issue_number']}-${value['number']}&quot;</py:otherwise>
    </py:choose>
  </title>
  <script type="text/javascript">
    $(document).ready(function() {
      $("select#new_page_form_comic_id").change(function() {
        $.getJSON("issues/" + $(this).val(), {}, function(r) {
          $("input#new_page_form_issue_number").val(r.data[r.data.length - 1]);
          $("input#new_page_form_issue_number").change();
        });
      });
      $("input#new_page_form_issue_number").change(function() {
        $.getJSON("pages/" + $("select#new_page_form_comic_id").val() + "/" + $(this).val(), {}, function(r) {
          $("input#new_page_form_number").val(r.data.length + 1);
        });
      });
      $("select#new_page_form_comic_id").change();
      $("input#new_page_form_published").focus();
    });
  </script>
</head>

<body>
  <div class="grid_12" id="content">
    <h3>
      <py:choose test="method">
      <py:when test="'new_page'">New Page</py:when>
      <py:otherwise>Alter Page &quot;${value['comic_id']}-${value['issue_number']}-${value['number']}&quot;</py:otherwise>
      </py:choose>
    </h3>
    <div py:replace="tmpl_context.form(value, child_args=dict(comic_id=dict(options=comic_ids)))">Input Form</div>
  </div>
</body>
</html>
