@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* LigatureSymbols include from http://kudakurage.com/ligature_symbols/ */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

/* End of LigatureSymbols include */

/* XXX Fix for foundation tabs content width */
.tabs-content > .content {
  float: none;
}

/* XXX Fix small in foundation form labels */
label small {
  text-transform: none;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sansi-serif;
    font-size: 10pt;
}

header#logo {
    background: #fff;
    padding: 70px 0;
    margin-bottom: 0;
}

header#logo img {
    display: block;
    margin: 0 auto;
}

footer {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 9pt;
}

nav {
    padding: 20px 0 10px 0;
}

nav div a {
    color: #6f6f6f;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

nav div a img {
    margin-right: 10px;
}

header.spaced {
    margin-bottom: 30px;
}

header nav {
    background: white;
    box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
    position: relative;
    z-index: 999;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
}

h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

nav ul li,
ul li.comic {
    text-align: center;
}

.thumb img {
    max-height: 300px;
}

section#latest {
    background: #535353;
    padding: 20px 0 40px 0;
    text-align: center;
}

section#latest h2 {
    color: #ddd;
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

section#auth {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

section#auth h2 {
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

section#page {
    text-align: center;
}

section#page img,
section#files img {
    margin-bottom: 1em;
}

section#page #details p {
    text-align: right;
    color: #666;
    font-size: 10pt;
}

section#blog {
    margin-top: 30px;
}

section#blog div.lsf-icon {
    color: #999;
    margin-top: 1.5em;
}

section#bloglist {
    border-top: 3px solid #6a6a9a;
}

section#bloglist ul {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-top: 0 none;
    padding: 1em;
    margin-bottom: 1em;
}

section#bloglist ul a {
    color: #333;
}

section#bloglist ul a.active {
    font-weight: bold;
}

textarea.mono {
    font-family: monospace;
}

textarea.mono {
    height: auto;
}
