@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sansi-serif;
    font-size: 10pt;
}

header#logo {
    background: #fff;
    padding: 70px 0;
    margin-bottom: 0;
}

header#logo img {
    display: block;
    margin: 0 auto;
}

footer {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 9pt;
}

nav {
    padding: 20px 0 10px 0;
}

header.spaced {
    margin-bottom: 30px;
}

header nav {
    background: white;
    box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
    position: relative;
    z-index: 999;
}

nav .menu.expanded span {
    color: #6f6f6f;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

nav .menu.expanded a:hover {
    background-color: #008cba;
}

nav .menu.expanded a:hover span {
    color: white;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    text-align: center;
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
    color: #222;
}

h1,
h2,
h3 {
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
}

h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

div.comic {
    text-align: center;
}

div.comic.thumb img {
    max-height: 300px;
}

img.bio {
  border-radius: 20px;
}

input[type=submit],
a.button {
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.3) inset;
  border: 0 none;
}

.radius {
    border-radius: 3px;
}

section#latest {
    background: #535353;
    padding: 20px 0 40px 0;
    text-align: center;
}

section#latest h2 {
    color: #ddd;
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

section#auth {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

section#auth h2 {
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

section#page {
    text-align: center;
}

section#page img,
section#files img {
    margin-bottom: 1em;
}

section#page #details p {
    color: #666;
    font-size: 10pt;
    padding-left: 10px;
}

section#blog {
    margin-top: 30px;
}

section#blog div.timestamp {
    color: #999;
    margin-top: 1.5em;
}

section#bloglist {
    border-top: 3px solid #6a6a9a;
}

section#bloglist ul {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-top: 0 none;
    padding: 1em;
    margin-bottom: 1em;
}

section#bloglist ul a {
    color: #333;
}

section#bloglist ul a.active {
    font-weight: bold;
}

section#page ul.pagination li:first-child a {
    color: #666;
    font-weight: bold;
    font-size: 10pt;
}

textarea.mono {
    font-family: monospace;
    height: auto;
}

