@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sansi-serif;
    font-size: 10pt;
}

header#logo {
    background: #ddd;
    padding: 70px 0;
    margin-bottom: 0;
}

header#logo img {
    display: block;
    margin: 0 auto;
}

footer {
    box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
    background: #ddd;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 9pt;
}

nav {
    padding: 20px 0 10px 0;
}

nav div a {
    color: #6f6f6f;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

nav div a img {
    margin-right: 10px;
}

header {
    margin-bottom: 30px;
}

header nav {
    box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
}

h4,
h5,
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

ul li {
    text-align: center;
}

section#latest {
    background: #262626;
    padding: 20px 0 40px 0;
    text-align: center;
}

section#latest h2 {
    color: #999;
    font-family: 'Open Sans Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

.thumb img {
    max-height: 300px;
}

section#page {
    text-align: center;
}

section#page img {
    margin-bottom: 1em;
}

section#page #details p {
    text-align: right;
    color: #666;
    font-size: 10pt;
}
